<apex:page standardController="Account" recordSetVar="accounts">
    <apex:repeat value="{!accounts}" var="a">
    	<li>
            <apex:outputLink value="/{!a.Id}" >{!a.Name}</apex:outputLink>
        </li>
    </apex:repeat>
</apex:page>