<apex:page standardController="Opportunity">
    <apex:outputField value="{!opportunity.Name}"/><br/>
    <apex:outputField value="{!opportunity.CloseDate}"/><br/>
    <apex:outputField value="{!opportunity.Amount}"/><br/>
    <apex:outputField value="{!opportunity.Account.Name}"/><br/>
</apex:page>